/* */
body {
	color: #58585A;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 12px;
}

/** Colors */
/*63c7cc*/
.blue { color: #74D2D1; }
.blue2 { color: #6dbece; }
.light-blue { color: #B4E0EB; }
.dark-green { color: #535A16; }
.green { color: #6C722C; }
.yellow { color: #F9BB2A; }
.orange { color: #f4a204; }
.brown { color: #6f4310; }
.dark-grey { color: #58585A; }
.grey { color: #EBEBEB; }

.dark-red { color: #452C18; }
.red { color: #CC7254; }

/** Defaults */
h1 { font-weight: normal; font-size: 36px; }
h2 { font-weight: normal; font-size: 24px; color: #d9d9d9; letter-spacing: .5px; }
h2 span { color: #34B6ED; font: italic 400 24px Baskerville,serif; }
h3 { font-weight: normal; font-size: 18px; }
h4 { }

a {
	color: #9A744F;
	cursor: pointer;
	text-decoration: none;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a:hover { color: #F7BE4B; text-decoration: none; }

img {
	border: 1px solid #ececec;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 5px;
}

/** General Styles */
.hide, .no-display { display: none; }
.text-hide { display: block; text-indent: 100%; white-space: nowrap; overflow: hidden; }
.f-left, .fLeft { float: left; }
.f-right, .fRight { float: right; }
.t-right, .tRight { text-align: right; }
.t-center, .tCenter { text-align: center; }

ul.list-inline { margin: 0; }
ul.list-inline li { display: inline; }
ul.list-block { float: left; margin: 0; width: 100%; }
ul.list-block li { display: block; float: left; }

/** Buttons and form defaults */
button span span,
button.btn span span,
a.btn span span {
	display: block;
	cursor: pointer;
	text-align: center;
}
.btn-yellow span span {
	background: #F9BB2A;
	border: 1px solid #D08F01;
	border-top: 1px solid #F8D56F;
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.4);
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.4);
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.btn.oversized span span {
	padding: 10px 15px;
}
form ul.fieldset { list-style: none; margin-left: 0; }
form ul.fieldset li { margin-bottom: 5px; }
form ul.fieldset li label { margin: 0; }
form ul.fieldset li input { margin: 0; }
.buttons-set { overflow: hidden; }
.buttons-set .btn { float: left; }

/** Overlay */
.modal { max-height: 600px; overflow: hidden; }
.modal .modal-header h3 { font-size: 20px; margin-top: 10px; }
.modal form { margin-bottom: 0; }
.modal .modal-body { overflow: hidden; }

/** Outlining Wrappers */
body > div.wrapper { border-top: 5px solid #74D2D1; }
div#page { }

/** Header */
header { margin: 20px 0 25px; }
header h1 {
	position: absolute;
	left: 50%;
	margin-left: -80px;
	text-align: center;
	width: 160px;
}
header h1 img { border: 0; }
header h1 a {
	/*background: url('../images/sprites.png') no-repeat -5px -5px;
	display: block;
	height: 200px;
	width: 200px;
	*/
}
header nav { margin: 0 auto; width: 550px; }
header nav ul { margin: 0; width: 150px; }
header nav ul.list > li {
	border-bottom: 1px solid #7ad5e5;
	font-size: 13px;
	list-style: none;
	letter-spacing: 1px;
	line-height: 34px;
	/*padding: 4px 8px;*/
	padding: 0 12px;
}
header nav ul.list li:last-child { border-bottom: 0; }
header nav ul.list li.social { height: 34px; }
header nav ul.list li a { text-transform: uppercase; }
header nav > ul.list.left { border-right: 4px double #7ad5e5; float: left; text-align: right; }
header nav > ul.list.right { border-left: 4px double #7ad5e5; float: right; text-align: left; }

header nav ul.social { margin-top: 6px; }
header nav ul.social li a {
	background: url(../images/sprites.png) no-repeat -5px -140px;
	display: block;
	margin-right: 5px;
	height: 27px;
	width: 27px;
}
header nav ul.social li a[rel="facebook"] { background-position: -39px -140px; }
header nav ul.social li a[rel="twitter"] { background-position: -5px -140px; }

header ul.secondary { position: absolute; top: -20px; right: 0; }
/*header ul li { color: #666; font-size: 11px;  margin-left: 10px; }
header ul li:after { content: '|'; margin-left: 10px; }
header ul li:last-child:after { content: ''; }*/


/** Main content */
div#content { clear: both; }


/** Footer */
.footer-container { background: #6C722C; }
footer {
	color: #fff;
	font-size: 12px;
	margin-top: 75px;
	padding: 25px 0 150px;
}
footer .branding {
	background: url(../images/sprites.png) no-repeat -200px -5px;
	float: left;
	height: 110px;
	margin-left: 25px;
	width: 100px;
}
footer ul.list { margin: 0; width: 150px; }
footer ul.list > li {
	border-bottom: 1px solid #545B17;
	font-size: 12px;
	list-style: none;
	letter-spacing: 1px;
	line-height: 34px;
	/*padding: 4px 8px;*/
	padding: 0 12px;
}
footer ul.list li:last-child { border-bottom: 0; }
footer ul.list li a { color: #fff; text-transform: uppercase; }
footer ul.list li a:hover { color: #545B17; }
footer ul.list.left { border-right: 4px double #545B17; float: left; text-align: right; }
/** right signup forms */
footer .signups { float: right; }
footer .signups h4 {
	font-family: 'Varela', sans-serif;
	font-size: 36px;
	float: left;
	margin-bottom: 15px;
	text-align: right;
	width: 390px;
}
footer .signups ul.social { float: right; margin-top: 6px; width: auto; }
footer .signups ul.social li a {
	background: url(../images/sprites.png) no-repeat -5px -190px;
	display: block;
	margin-right: 8px;
	height: 30px;
	width: 30px;
}
footer .signups ul.social li a[rel="facebook"] { background-position: -44px -200px; }
footer .signups ul.social li a[rel="twitter"] { background-position: -5px -200px; }
footer .signups form { clear: both; text-align: right; margin-bottom: 5px; }
footer .signups form label { font-size: 12px; text-transform: uppercase; margin-right: 10px; }
footer .signups form input {
	background: #545B17;
	border: 0;
	color: #fff;
	font-size: 12px;
	padding: 5px 8px;
	width: 300px;
}
footer .signups form button {
	background: transparent;
	border: 0;
	color: #fff;
	text-align: right;
	text-decoration: underline;
	width: 60px;
}
footer > p { clear: both; margin-top: 25px; text-align: right; }
footer > p a { color: #fff; }

/** Map Canvas */
div.map-container { position: relative; }
div.map-container > .top,
div.map-container > .bottom {
	background: transparent;
	height: 1px;
	position: absolute;
	width: 100%;
	z-index: 100;
}
div.map-container > .top {
	top: 0;
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
div.map-container > .bottom {
	bottom: -1px;
	-moz-box-shadow: 0 -2px 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 -2px 5px rgba(0,0,0,.2);
	box-shadow: 0 -2px 5px rgba(0,0,0,.2);
}
div#mapCanvas { height: 450px; margin-bottom: 50px; }
/** How it works */
#howItWorks { overflow: hidden; }
#howItWorks h4 { font-family: 'Varela', sans-serif; font-size: 36px; color: #8d9548; }
#howItWorks ul { margin-top: 10px; }
#howItWorks ul li {
	color: #7d8080;
	font-size: 15px;
	margin-right: 17px;
	text-align: center;
	width: 175px;
}
#howItWorks ul li:lastchild { margin-right: 0; }
#howItWorks ul li:hover { color: #6dbece; }
#howItWorks ul li h3 {
	background: url(../images/sprites.png) no-repeat;
	color: #7d8080;
	font-size: 18px;
	padding-top: 175px;
}
#howItWorks ul li:hover h3 { color: #6dbece; }
#howItWorks ul li.claim-it h3 { background-position: -190px -130px; }
#howItWorks ul li.track-it h3 { background-position: -385px -130px; }
#howItWorks ul li.learn-it h3 { background-position: -585px -130px; }
#howItWorks ul li.share-it h3 { background-position: -780px -130px; }
#howItWorks ul li.build-it h3 { background-position: -975px -130px; }
#howItWorks ul li.claim-it:hover h3 { background-position: -190px -340px; }
#howItWorks ul li.track-it:hover h3 { background-position: -385px -340px; }
#howItWorks ul li.learn-it:hover h3 { background-position: -585px -340px; }
#howItWorks ul li.share-it:hover h3 { background-position: -780px -340px; }
#howItWorks ul li.build-it:hover h3 { background-position: -975px -340px; }
/** Kickstarter section */
#kickstart {
	border-top: 4px double #8E9649;
	margin-top: 50px;
	padding-top: 50px;
	overflow: hidden;
	position: relative;
	top: 100px;
}
#kickstart h3 { font-size: 42px; color: #8E9649; }
#kickstart h3 + p { font-size: 12px; }
.elm_index_index footer { padding-top: 150px; }






/** Step Styles */
#mapModal .modal-footer .buttons-set { min-width: 200px; }
#stepContent.step-1 .buttons-set button { margin-left: 15px; }
#stepContent.step-2 .wrapper { position: relative; left: -575px; width: 1680px; }
#stepContent.step-2 .wrapper > div {
	display: block;
	float: left;
	padding: 0 15px;
	width: 530px;
}
#stepContent.step-2 .wrapper #login {  }
#stepContent.step-2 .wrapper #middle {  }
#stepContent.step-2 .wrapper #create { margin-right: 0; }
#stepContent.step-2 .wrapper #create .fieldset li { float: left; margin-right: 25px; }
#stepContent.step-2 .wrapper #create .fieldset li:nth-child(2n) { margin-right: 0; }

#stepContent.step-3 form > .fieldset { float: left; margin-right: 30px; }
#stepContent.step-3 #types { width: 245px; }
#stepContent.step-3 #types p,
#stepContent.step-3 #roles p { margin-bottom: 10px; }
#stepContent.step-3 #types .sub-types { overflow: hidden; }
#stepContent.step-3 ul li.radio { float: left; width: 100%; }
#stepContent.step-3 ul li.radio input,
#stepContent.step-3 ul li.radio label { float: left; margin-right: 10px }

/** Community */
div#content .community { overflow: hidden; }
div#content .community h3 { margin-bottom: 20px; }
div#content .community > div {
	clear: left;
	margin-bottom: 20px;
	width: 100%;
}
div#content .community ul li { margin: 0 25px 25px 0; width: 160px; }
div#content .community ul li h2 { font-size: 14px; }

/** Message displays */
.alert p { margin: 0; }

/** User main content */
div#content .inner-content-wrapper > h2 + ul li { color: #999; font-size: 11px; }
div#content .inner-content-wrapper > h2 + ul li strong { color: #666; }
div#content .inner-content-wrapper .top { position: relative; }
div#content .inner-content-wrapper .top .controls { position: absolute; top: 5px; right: 10px; }
div#content #tabMenu { margin-top: 10px; }
div#content #tabMenu li { margin-right: 20px; }
div#content #tabMenu li:last-child { margin: 0; }
div#content .blocked-content {
	border-bottom: 1px solid #ddd;
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 20px 10px;
}
div#content #plots ul li { width: 160px; }
div#content #plots ul li h3 { font-size: 16px; margin-top: 5px; }

/** Crops content */
div#crops ul li { margin-bottom: 5px; width: 100%; }
div#crops ul li.heading { border-bottom: 1px solid #ccc; }
div#crops ul li ul { margin: 0; }
div#crops ul li ul li * { float: left; display: block; }
div#crops ul li ul li h4 { width: 150px; }
div#crops ul li ul li span { margin: 0 5px; width: 50px; }
div#crops ul li ul li span.date { width: 75px; }
div#crops ul li ul li span.actions { width: 150px; }
div#crops ul li.crop span.actions a:after { content: ' | '; margin: 0 5px; }

/** Plot main content */
#imageEditContainer {
	border: 1px solid transparent;
	border-radius: 10px;
	float: left;
	padding: 5px 10px 15px;

	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
#imageEditContainer.active { border: 1px solid #efefef; }
#imageEditContainer .buttons-set { float: left; }
#socializing form { margin-bottom: 25px; }
#socializing form .type-selection { float: left; width: 100%; }
#socializing form .type-selection label { float: left; margin-right: 10px; }
#socializing form .type-selection label input { margin-right: 3px; }
#socializing form p.input textarea {
	clear: left;
	height: 50px;
	width: 400px;
}
ul.feed { margin: 10px 0; }
ul.feed li {
	border-bottom: 1px solid #ececec;
	margin-bottom: 15px;
	position: relative;
	padding-bottom: 15px;
	width: 100%;
}
ul.feed li a.rate-it {
	position: absolute;
	right: 10px;
	top: 20px;
}
ul.feed li a.rate-it.rated { color: red; }
ul.feed li div.comments-toggle-container { clear: both; }
ul.feed li div.lower { clear: both; }
ul.feed li div.user-info { width: 175px; }
ul.feed li div.user-info img { width: 125px; }
ul.feed li div.user-info h3 { font-size: 13px; }
ul.feed li div.user-info p { }

ul.user-list li.pending { background: #efefef; }

/** Contact form modal */
#contactModalForm textarea { height: 100px; width: 520px; }

/** Edit modals */
.edit-modal textarea { height: 130px; width: 520px; }

/** Left Column */
div#columnLeft { border-right: 1px solid #ddd; min-height: 200px; }


/** Print Styles */
@media print {
	html, body { height: auto; }
	#mapCanvas { height: 300px; }
}
