/* */
body {
	color: #58585A;
	font: normal 13px/1.2 Helvetica,Arial,sans-serif;
}

/**
	Colors
*/
/*63c7cc*/
.blue { color: #74D2D1; }
.blue2 { color: #6dbece; }
.light-blue { color: #B4E0EB; }
.dark-green { color: #535A16; }
.green { color: #6C722C; }
.light-green { color: #8d9548; }
.turquiose { color: #7dc6ca; }
.yellow { color: #F9BB2A; }
.orange { color: #f4a204; }
.brown { color: #6f4310; }
.dark-grey { color: #58585A; }
.grey { color: #EBEBEB; }

.dark-red { color: #452C18; }
.red { color: #CC7254; }

/**
	Defaults
*/
h1 { font-weight: normal; font-size: 36px; }
h2 { font-weight: normal; font-size: 24px; color: #d9d9d9; letter-spacing: .5px; }
h2 span { color: #34B6ED; font: italic 400 24px Baskerville,serif; }
h3 { font-weight: normal; font-size: 18px; }
h4 { font-weight: normal; font-size: 24px; color: #74D2D1; letter-spacing: .5px; }
p {
	line-height: 1.2;
}
a {
	color: #9A744F;
	cursor: pointer;
	text-decoration: none;
	/*-moz-transition: color .1s ease-in-out;
	-o-transition: color .1s ease-in-out;
	-webkit-transition: color .1s ease-in-out;
	transition: color .1s ease-in-out;*/
}
a:hover { color: #F7BE4B; text-decoration: none; }
img {
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
}
.loader {
	background: url(../images/loader.gif) no-repeat;
	color: #fff;
	display: inline-block;
	line-height: 23px;
	padding-left: 28px;
	white-space: nowrap;
}
.loader.green { background: url(../images/loader-green.gif) no-repeat; }

/**
	General Styles
*/
figure { margin: 0; }
.hide, .no-display { display: none; }
.text-hide { display: block; text-indent: 100%; white-space: nowrap; overflow: hidden; }
.f-left, .fLeft { float: left; }
.f-right, .fRight { float: right; }
.t-right, .tRight { text-align: right; }
.t-center, .tCenter { text-align: center; }

ul.list-inline { margin: 0; }
ul.list-inline li { display: inline; }
ul.list-block { float: left; margin: 0; width: 100%; }
ul.list-block li { display: block; float: left; }

/**
	Buttons and form defaults
*/
a.btn,
button,
button.btn {
	background: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
}
button[disable="disable"],
button.btn[disable="disable"] {
	opacity: .6;
}
a.btn span,
button span,
button.btn span {
	display: block;
	cursor: pointer;
	text-align: center;
}
a.btn span,
button span,
button.btn span {
	background: #74D2D1;
	border: 1px solid #33a3a9;
	border-bottom-width: 2px;
	border-top: 2px solid #9de5e9;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 7px 10px;
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.4);
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.4);
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
a.btn-orange span,
button.btn-orange span {
	background-color: #fac13d;
	border: 1px solid #efad12;
	border-bottom-width: 2px;
	border-top: 2px solid #fedc8a;
}
a.btn-blue span,
button.btn-blue span {
	background-color: #74D2D1;
	border: 1px solid #33a3a9;
	border-bottom-width: 2px;
	border-top: 2px solid #9de5e9;
}
a.btn-green span,
button.btn-green span {
	background-color: #59601C;
	border: 2px solid #3f431e;
	border-top: 2px solid #757b41;
}
a.btn-grey span,
button.btn-grey span {
	background-color: #ccc;
	border: 2px solid #a5a5a5;
	border-top: 2px solid #e5e5e5;
}
.btn.oversized span { padding: 10px 15px; }
/** Left column buttons */
#columnLeft .buttons-set button.btn { margin-bottom: 10px; width: 100%; }
#columnLeft .buttons-set button.btn span {
	font-size: 15px;
	padding: 10px 15px 10px 55px;
	text-align: left;
}
#columnLeft .buttons-set button.contact-button span {
	background-image: url(../images/sprites.png);
	background-repeat: no-repeat;
	background-position: 10px -340px;
}

/**
	Form defaults
*/
form ul.fieldset { list-style: none; margin-left: 0; }
form ul.fieldset > li { margin-bottom: 20px; }
form ul.fieldset > li label {
	color: #6C722C;
	display: inline-block;
	letter-spacing: 1px;
	margin: 0 10px 0 0;
	padding-top: 8px;
	text-transform: uppercase;
	text-align: right;
	vertical-align: top;
	width: 150px;
}
form ul.fieldset > li label + div {
	display: inline-block;
	width: 270px;
}
form ul.fieldset > li figure { margin: 0 0 10px; }
form ul.fieldset > li input,
form ul.fieldset > li textarea {
	border: 1px solid #ccc;
	color: #999;
	font-size: 13px;
	margin: 0;
	padding: 4px 8px;
	width: 250px;
}
form ul.fieldset > li input[type="checkbox"],
form ul.fieldset > li input[type="radio"] {
	margin-right: 10px;
	width: auto;
}
form ul.fieldset > li ul.errors { width: 268px; }
form ul.fieldset > li ul.errors > li {
	background: #CC7254;
	color: #fff;
	margin-top: 3px;
	text-align: left;
	padding: 5px;
}
form ul.fieldset > li > div label {
	color: #7dc6ca;
	line-height: 20px;
	text-transform: capitalize;
	text-align: left;
	width: 250px;
}
form ul.fieldset > li > div label > input {
	margin-right: 10px;
	width: auto;
}
.buttons-set { overflow: hidden; }
.buttons-set .btn { float: left; }

/**
	Global Messages
*/
div.alert {
	background: #ccc;
	color: #fff;
	clear: both;
	margin: 10px auto;
	padding: 10px;
	width: 500px;
}
div.alert a {
	color: #fff;
	text-decoration: underline;
}
div.alert > a.close {
	display: none;
	float: right;
}
div.alert.alert-success { background: #6C722C; }
div.alert.alert-error { background: #80883b; }
div.alert.alert-info { background: #FAC13D; }
div.inner-content-wrapper div.alert { width: 645px; }

/**
	Overlay
*/
.fade {
	-webkit-transition: opacity .3s linear, top .3s ease-out;
	-moz-transition: opacity .3s linear, top .3s ease-out;
	-ms-transition: opacity .3s linear, top .3s ease-out;
	-o-transition: opacity .3s linear, top .3s ease-out;
	transition: opacity .3s linear, top .3s ease-out;
	top: 50%;
	margin-top: -300px;
}
.fade.in { opacity: 1; }
.modal-backdrop {
	background: #5d5d5e;
	margin: 0 !important;
	top: 0 !important;
	opacity: .6;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 500;
}
.modal-backdrop.fade.in { opacity: .6; }
.modal {
	background: #59601C;
	max-height: 600px;
	min-height: 200px;
	min-width: 	250px;
	margin-top: -35%;
	margin-left: -125px;
	overflow: hidden;
	padding: 20px;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 501;
}
.modal .modal-header {
	border-bottom: 4px double #80883b;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.modal h3 { color: #fff; font-size: 20px; }
.modal a { color: #fff; }
.modal .modal-header h3 { margin-top: 10px; }
.modal .modal-header a.close {
	position: absolute;
	top: 10px;
	right: 15px;
	text-decoration: none;
}
.modal .modal-body { overflow: hidden; }
.modal .modal-body form { margin-bottom: 0; }
.modal .modal-body form label {
	color: #fff;
	float: none;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 2px;
	margin-bottom: 5px;
	text-align: left;
	width: 100%;
}
.modal .modal-body ul.fieldset li { margin-bottom: 10px; }
.modal .modal-body form input[type="text"],
.modal .modal-body form input[type="password"],
.modal .modal-body form input[type="email"] {
	border: 0;
	border-top: 3px solid #d1c8b4;
	color: #222;
	width: 360px;
}
.modal .modal-body form textarea {
	height: 100px;
	width: 360px;
}
/*.modal .modal-body .buttons-set { float: right; }*/
.modal .modal-body .buttons-set { text-align: right; }
.modal .modal-body .buttons-set .btn { float: none; }
.modal .modal-body .buttons-set .btn + .loader { margin-left: 10px; }
.modal .modal-body .buttons-set a.close,
.modal .modal-body .buttons-set a.cancel {
	margin-top: 5px;
	margin-right: 10px;
	text-transform: capitalize;
	text-decoration: underline;
}
#mapModal {
	margin-top: -140px;
	margin-left: -200px;
	width: 400px;
}
#mapModal .buttons-set .btn span {
	background: #74D2D1;
	border: 1px solid #33a3a9;
	border-bottom-width: 2px;
	border-top: 2px solid #9de5e9;
}
#mapModal .buttons-set a.cancel { display: none; }
#contactModal {
	margin-top: -250px;
	margin-left: -190px;
	width: 380px;
}
#contactSuccessModal { min-height: 0; }
#contactSuccessModal .modal-header { display: none; }
#contactSuccessModal .modal-body {
	margin: 20px 0;
	text-align: center;
	width: 340px;
}
#contactSuccessModal .modal-body h3 { font-size: 26px; }
#contactSuccessModal .modal-body .buttons-set {
	margin-top: 30px;
	text-align: center;
}
#involveMeModal .buttons-set { margin-top: 25px; }

/**
	Layout Specs
*/
body > div.wrapper { }
div#page { }
div.main-content { }
div.main-container { padding: 40px 0; }
/** two columns */
body.two-column .main-container { background: #ecf0df; }
div.two-column .column-left { float: left; margin: 25px 0 20px 20px; position: relative; width: 225px; }
div.two-column .main-content { float: right; margin: 25px 20px 20px 0; min-height: 300px; position: relative; width: 665px; }

/**
	Header
*/
div.header-container {
	border-top: 5px solid #74D2D1;
	-moz-box-shadow: 0 2px 2px rgba(100,100,100,.2);
	-webkit-box-shadow: 0 2px 2px rgba(100,100,100,.2);
	box-shadow: 0 2px 2px rgba(100,100,100,.2);
	position: relative;
	z-index: 100;
}
header { margin: 20px 0 25px; }
header h1 {
	position: absolute;
	left: 50%;
	margin-left: -80px;
	text-align: center;
	width: 160px;
}
header h1 img { border: 0; }
header h1 a {
	/*background: url('../images/sprites.png') no-repeat -5px -5px;
	display: block;
	height: 200px;
	width: 200px;
	*/
}

/**
	Navigation
*/
header nav { margin: 0 auto; width: 550px; }
header nav ul { margin: 0; width: 150px; }
header nav ul.list > li {
	border-bottom: 1px solid #7ad5e5;
	font-size: 13px;
	list-style: none;
	letter-spacing: 1px;
	line-height: 34px;
	/*padding: 4px 8px;*/
	padding: 0 12px;
	position: relative;
}
header nav ul.list li:last-child { border-bottom: 0; }
header nav ul.list li.social { height: 34px; }
header nav ul.list li a { text-transform: uppercase; }
header nav > ul.list.left { border-right: 4px double #7ad5e5; float: left; text-align: right; }
header nav > ul.list.right { border-left: 4px double #7ad5e5; float: right; text-align: left; }
header nav ul.social { margin-top: 6px; }
header nav ul.social li a {
	background: url(../images/sprites.png) no-repeat -5px -140px;
	display: block;
	margin-right: 5px;
	height: 27px;
	width: 27px;
}
header nav ul.social li a[rel="facebook"] { background-position: -39px -140px; }
header nav ul.social li a[rel="twitter"] { background-position: -5px -140px; }
/** Children/2nd level nav */
header nav ul.list li > ul.child {
	/*display: none; */
	background: #bbe6e8;
	padding: 0 2px;
	position: absolute;
	left: 150px;
	top: 0;
}
header nav ul.list li > ul.child li { border-bottom: 1px solid #fff; }
header nav ul.list li > ul.child li:last-child { border-bottom-color: #bbe6e8; }
header nav ul.list li > ul.child li a { padding-left: 20px; }
/*header ul.secondary { position: absolute; top: -20px; right: 0; }*/
/*header ul li { color: #666; font-size: 11px;  margin-left: 10px; }
header ul li:after { content: '|'; margin-left: 10px; }
header ul li:last-child:after { content: ''; }*/


/**
	Footer
*/
.footer-container { background: #6C722C; /*margin-top: 25px;*/ }
footer { color: #fff; font-size: 12px; padding: 25px 0 150px; }
footer .branding {
	background: url(../images/sprites.png) no-repeat -200px -5px;
	float: left;
	height: 110px;
	margin-left: 25px;
	width: 100px;
}
footer ul.list { margin: 0; width: 150px; }
footer ul.list > li {
	border-bottom: 1px solid #545B17;
	font-size: 12px;
	list-style: none;
	letter-spacing: 1px;
	line-height: 34px;
	/*padding: 4px 8px;*/
	padding: 0 12px;
}
footer ul.list li:last-child { border-bottom: 0; }
footer ul.list li a { color: #fff; text-transform: uppercase; }
footer ul.list li a:hover { color: #545B17; }
footer ul.list.left { border-right: 4px double #545B17; float: left; text-align: right; }
/** right signup forms */
footer .signups { float: right; }
footer .signups h4 {
	color: #fff;
	font-family: 'Varela', sans-serif;
	font-size: 36px;
	float: left;
	margin-bottom: 15px;
	text-align: right;
	width: 390px;
}
footer .signups ul.social { float: right; margin-top: 6px; width: auto; }
footer .signups ul.social li a {
	background: url(../images/sprites.png) no-repeat -5px -190px;
	display: block;
	margin-right: 8px;
	height: 30px;
	width: 30px;
}
footer .signups ul.social li a[rel="facebook"] { background-position: -44px -200px; }
footer .signups ul.social li a[rel="twitter"] { background-position: -5px -200px; }
footer .signups form { clear: both; text-align: right; margin-bottom: 5px; }
footer .signups form label { font-size: 12px; text-transform: uppercase; margin-right: 10px; }
footer .signups form input {
	background: #545B17;
	border: 0;
	color: #fff;
	font-size: 12px;
	padding: 5px 8px;
	width: 300px;
}
footer .signups form button {
	background: transparent;
	border: 0;
	color: #fff;
	text-align: right;
	text-decoration: underline;
	width: 60px;
}
footer > p { clear: both; margin-top: 25px; text-align: right; }
footer > p a { color: #fff; }


/**
	Login slide down form
*/
#headerLoginForm {
	border-top: 5px solid #59601c;
	background: #8d9548;
	background: rgba(141,149,72,.85);
	height: 170px;
	padding-top: 15px;
	position: absolute;
	top: -5px;
	left: 0;
	right: 0;
	z-index: 500;
}
#headerLoginForm div.grid_6 + div { text-align: right; }
#headerLoginForm h4 {
	color: #59601c;
	font-size: 17px;
	margin-bottom: 15px;
}
#headerLoginForm div.colset-1 h4 { margin-left: 60px; }
#headerLoginForm h4 strong { text-transform: uppercase; color: #fff; }
#headerLoginForm a { color: #fff; text-decoration: underline; }
#headerLoginForm form label { color: #fff; }
#headerLoginForm form ul.fieldset { margin-bottom: 12px; }
#headerLoginForm form ul.fieldset > li { margin-bottom: 9px; }
#headerLoginForm form .buttons-set { margin-left: 160px; }
#headerLoginForm form .buttons-set button.btn + a { line-height: 45px; margin-left: 15px; }
#headerLoginForm div.grid_6 + div h4 { color: #fff; }
#headerLoginForm div.grid_6 + div h4 + a { color: #59601c; font-size: 14px; }
#headerLoginForm div.grid_6 + div h4 + a + h4 { margin-top: 25px; }


/**
	Home page
*/
body.elm-index-index { overflow: hidden; }
body.elm-index-index div.main-container { padding-top: 0; }
/** Map Canvas */
div.map-container > .top,
div.map-container > .bottom {
	background: transparent;
	height: 1px;
	position: absolute;
	width: 100%;
	z-index: 100;
}
div.map-container > .top {
	top: 0;
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
div.map-container > .bottom {
	bottom: -1px;
	-moz-box-shadow: 0 -2px 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 -2px 5px rgba(0,0,0,.2);
	box-shadow: 0 -2px 5px rgba(0,0,0,.2);
}
div#mapCanvas {
	/*height: 450px;
	margin-bottom: 50px;*/
	position: absolute;
	/*top: 100px;*/
	bottom: 0;
	left: 0;
	right: 0;
	height: 75%;
}
div.mapMarker > div {
	background: #818940;
	background: rgba(129,137,64,.87);
	/*border: 1px solid #595d3b;*/
	color: #414710;
	line-height: 1.2;
	padding: 25px;
	/*height: 225px;*/
	width: 470px;
}
div.mapMarker.small > div { width: 320px; }
div.mapMarker > div:after {
	background: url('../images/infobox-arrow.png') no-repeat;
	/*background: #818940;
	background: rgba(129,137,64,.8);*/
	content: '\0020';
	display: block;
	height: 45px;
	position: absolute;
	bottom: -45px;
	left: 40px;
	width: 50px;
}
div.mapMarker > div h3 {
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.6);
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.6);
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
}
div.mapMarker > div h3 > span { color: #7acfd3; }
div.mapMarker > div div.content { margin-top: 20px; }
div.mapMarker > div div.content p {
	font-size: 16px;
	margin-bottom: 10px;
}
div.mapMarker > div div.content input[type="text"] {
	border: 1px solid #d6d6d6;
	font-size: 16px;
	float: left;
	padding: 10px 6px;
	width: 410px;
}
div.mapMarker > div div.content p.buttons-set { text-align: center; }
div.mapMarker > div div.content button.btn { margin: 0; float: none; }
div.mapMarker > div div.content button.search {
	background: url('../images/sprites.png') no-repeat -345px -3px;
	float: left;
	margin-left: 10px;
	height: 50px;
	width: 50px;
}
div.mapMarker.plot-info > div div.content p.buttons-set { text-align: left; }
div.mapMarker.plot-info > div div.content p.buttons-set a {
	color: #fff;
	font-size: 13px;
	text-decoration: underline;
	text-transform: lowercase;
}

/** How it works */
#howItWorks {
	background: #64c4c8;
	overflow: hidden;
	padding: 25px 0 25px 55px;
	position: absolute;
	right: -960px;
	top: 200px;
	height: 270px;
	z-index: 100;
	width: 940px;

	-moz-transition: right .3s ease-in-out;
	-o-transition: right .3s ease-in-out;
	-webkit-transition: right .3s ease-in-out;
	transition: right .3s ease-in-out;

}
#howItWorks.active { right: 0; }
#howItWorks a[href="#how-it-works"] {
	background: url('../images/sprites.png') no-repeat -192px -425px;
	height: 75px;
	position: absolute;
	left: 0;
	top: 115px;
	width: 40px;
}
#howItWorks.active a[href="#how-it-works"] {
	background-position: -230px -425px;
}
#howItWorks h4 {
	color: #fff;
	font: bold 34px/1 'Varela', Helvetica, Arial, sans-serif;
	letter-spacing: -2px;
}
#howItWorks ul { margin-top: 10px; }
#howItWorks ul li {
	color: #fff;
	margin-left: 25px;
	text-align: center;
	width: 145px;
}
#howItWorks ul li:first-child { margin-left: 0; }
#howItWorks ul li h3 {
	background: url(../images/sprites.png) no-repeat;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 135px;
}
#howItWorks ul li.claim-it h3 { background-position: -180px -130px; }
#howItWorks ul li.track-it h3 { background-position: -337px -130px; }
#howItWorks ul li.learn-it h3 { background-position: -492px -130px; }
#howItWorks ul li.share-it h3 { background-position: -650px -130px; }
#howItWorks ul li.build-it h3 { background-position: -807px -130px; }
#howItWorks ul li p { font-size: 13px; }
/*
#howItWorks ul li.claim-it:hover h3 { background-position: -190px -340px; }
#howItWorks ul li.track-it:hover h3 { background-position: -385px -340px; }
#howItWorks ul li.learn-it:hover h3 { background-position: -585px -340px; }
#howItWorks ul li.share-it:hover h3 { background-position: -780px -340px; }
#howItWorks ul li.build-it:hover h3 { background-position: -975px -340px; }
*/


/**
	Login/Create
*/
.account-form { text-align: center; }
.account-form h1 { font-weight: bold;  margin-bottom: 50px; }
.account-form form { margin: 0 auto; width: 460px; }
.account-form form .fieldset label { width: 170px;}
.account-form form .buttons-set { float: right; margin-right: 7px; }


/**
	Account Pages
*/
.profile-layout { background: #fff; position: relative; }
.profile-layout .upper-background {
	background: #7dc6ca url(../images/logo-blue-account.png) no-repeat 865px 10px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	-moz-box-shadow: inset 0 -2px 2px rgba(100,100,100,.2);
	-webkit-box-shadow: inset 0 -2px 2px rgba(100,100,100,.2);
	box-shadow: inset 0 -2px 2px rgba(100,100,100,.2);
	position: absolute;
	top: -5px;
	height: 105px;
	width: 960px;
}
/** left */
.profile-layout .column-left { margin: 30px 0 20px 20px; position: relative; }
.profile-layout .column-left figure { margin: 0; }
.profile-layout .column-left figure img {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 1px;
	padding: 10px;
}
/** main */
.profile-layout .main-content {
	float: right;
	margin: 30px 20px 20px 0;
	position: relative;
	width: 675px;
}
.profile-layout .main-content .top { margin-bottom: 50px; }
.profile-layout .main-content .top h2 { color: #fff; font-size: 26px; }
.profile-layout .main-content .top ul { margin-top: 5px; }
.profile-layout .main-content .top ul li { color: #fff; }
/** nav menu */
.profile-layout .main-content nav { margin-bottom: 30px; float: left; width: 100%; }
.profile-layout .main-content nav ul li { background: url(../images/nav-gradient.png) repeat-x left top; }
.profile-layout .main-content nav ul li a {
	border: 1px solid #ccc;
	border-left: 0;
	cursor: pointer;
	color: #7b6b59;
	font-size: 14px;
	font-weight: bold;
	display: block;
	line-height: 1;
	padding: 10px 30px 10px 45px;
}
.profile-layout .main-content nav ul li:first-child a {
	border: 1px solid #ccc;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding-left: 30px;
}
.profile-layout .main-content nav ul li:last-child a {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left: 0;
}
.profile-layout .main-content nav ul li a[href*="about"] { background: url(../images/sprites.png) no-repeat 15px -570px; }
.profile-layout .main-content nav ul li a[href*="plots"] { background: url(../images/sprites.png) no-repeat 18px -601px; }
.profile-layout .main-content nav ul li a[href*="photos"] { background: url(../images/sprites.png) no-repeat 15px -630px; }
.profile-layout .main-content nav ul li a[href*="crops"] { background: url(../images/sprites.png) no-repeat 17px -659px; }
.profile-layout .main-content nav ul li a[href*="people"] { background: url(../images/sprites.png) no-repeat 13px -690px; }
.profile-layout .main-content nav ul li:hover { background: url(../images/nav-gradient-over.png) repeat-x left top; }
.profile-layout .main-content nav ul li:hover a { color: #7dc6ca }
.profile-layout .main-content nav ul li:hover a[href*="about"] { background-position: -180px -570px; }
.profile-layout .main-content nav ul li:hover a[href*="plots"] { background-position: -177px -601px; }
.profile-layout .main-content nav ul li:hover a[href*="photos"] { background-position: -180px -630px; }
.profile-layout .main-content nav ul li:hover a[href*="crops"] { background-position: -178px -659px; }
.profile-layout .main-content nav ul li:hover a[href*="people"] { background-position: -184px -690px; }

/**
	Universal/Shared content
*/
.profile-layout .main-content h2 { clear: both; margin-bottom: 10px; }
.profile-layout .main-content a.action {
	font-size: 12px;
	color: #58585A;
	text-decoration: underline;
}
.main-content .blocked-content {
	color: #848484;
	clear: both;
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 10px 0;
}
.main-content .blocked-content > h4 { }
.main-content .blocked-content > p { margin-bottom: 20px; }
/** Listings: plots & people */
ul.list-block li h3 { font-size: 16px; margin-bottom: 5px; }
ul.list-block li h3 a { color: #8d9548; }
ul.list-block li h3 a:hover { text-decoration: underline; }
ul.list-block li p.role { font-size: 14px; }
ul.list-block li p.role b { color: #000; font-weight: bold; }
ul.list-block li p.role i { color: #98989A; font-weight: bold; }
ul.list-block.list  { }
ul.list-block.list li { margin-right: 10px; width: 150px; }
ul.list-block.list li:last-child { margin-right: 0; }
ul.list-block.list li figure { margin: 0 0 8px; }
/** Detailed Listings */
ul.list-block.details li { margin-bottom: 10px; width: 100%; }
ul.list-block.details li figure {
	float: left;
	margin-right: 25px;
	width: 160px;
}
ul.list-block.details li div.details {
	float: left;
	margin-left: 5px;
	padding: 8px 0;
	width: 400px;
}
ul.list-block.details li div.details p.role { margin-bottom: 15px; }
ul.list-block.details li div.details p.buttons-set button { width: auto; }
/** Data Lists: crops */
table.data-table { }
table.data-table tr th,
table.data-table tr td {
	color: #010101;
	font-size: 13px;
	padding: 5px 8px;
	text-align: left;
	white-space: nowrap;
}
table.data-table tr th {
	color: #a8a9a9;
	font-size: 14px;
	padding: 7px 3px;
	text-transform: capitalize;
}
table.data-table tr td { }
table.data-table tr.alt td { background: #e5f1f2; }
table.data-table tr td a { color: #010101; text-decoration: underline; }

/**
	My Account forms: settings, info, create
*/
body.elm-profile-settings .account-form form,
body.elm-profile-info .account-form form { text-align: left; }
body.elm-profile-info .account-form textarea { height: 150px; }
/*body.elm-profile-settings .account-form form ul li > div label,
body.elm-profile-info .account-form form ul li > div label { line-height: 20px; text-align: left; width: auto; }
body.elm-profile-settings .account-form form ul li > div label > input,
body.elm-profile-info .account-form form ul li > div label > input { margin-right: 10px; width: auto; }*/
body.elm-plot-create .account-form form .buttons-set,
body.elm-profile-settings .account-form form .buttons-set,
body.elm-profile-info .account-form form .buttons-set {
	border-top: 4px double #CCC;
	padding-top: 10px;
	width: 275px;
}
body.elm-plot-create .account-form form .buttons-set button,
body.elm-profile-settings .account-form form .buttons-set button,
body.elm-profile-info .account-form form .buttons-set button { float: right; }

/**
	Photos
*/
.photo-timeline ul {}
.photo-timeline ul li { margin-right: 10px; position: relative; }
.photo-timeline ul li img { border: 0; height: 80px; }
.photo-timeline a.arrow {
	background: red;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	height: 30px;
	width: 30px;
}
.photo-timeline a.arrow.prev { left: 0; }
.photo-timeline a.arrow.next { right: 0; }
/*.photo-timeline ul li a { position: absolute; bottom: 0; left: 0; }*/
.photo-main figure img { width: 630px; }
body.elm-plot-photos .photo-timeline {
	height: 100px;
	overflow: hidden;
	position: relative;
}


/**
 	People
*/
.get-involved { clear: both; }

/**
	Crops
*/
#cropsForm form ul.fieldset li select#crop_id + label { width: 100px; }
#cropsForm form ul.fieldset li input#name { width: 175px; }
#cropsForm form ul.fieldset li input#coverage {
	margin-right: 10px;
	width: 100px;
}
#cropsForm form ul.fieldset li input#date_planted { width: 100px; }
#cropsForm form ul.fieldset li div.multi-control { width: 270px; }


/** Print Styles */
@media print {
	html, body { height: auto; }
	/*#mapCanvas { height: 300px; }*/
}
