/* */
body {
	color: #58585A;
	font: normal 13px/1.2 "Sanchez", serif;
}

/**
 * Colors
 * @TODO clean up
 */
/*63c7cc*/
.blue { color: #74D2D1; }
.blue2 { color: #6dbece; }
.light-blue { color: #B4E0EB; }
.dark-green { color: #535A16; }
.green { color: #6C722C; }
.light-green { color: #8d9548; }
.turquiose { color: #7dc6ca; }
.yellow { color: #F9BB2A; }
.orange { color: #f4a204; }
.brown { color: #6f4310; }
.dark-grey { color: #58585A; }
.grey { color: #EBEBEB; }

.dark-red { color: #452C18; }
.red { color: #CC7254; }

/**
	Defaults
*/
h1 { font-weight: normal; font-size: 36px; }
h2 {
    color: #d9d9d9;
    font-weight: normal;
    font-size: 24px;
}
h3 {
    color: #343434;
    font-weight: normal;
    font-size: 16px;
}
h4 {
    color: #74D2D1;
    font-weight: normal;
    font-size: 24px;
}
p { line-height: 1.2; }
a {
	color: #343434;
	cursor: pointer;
	text-decoration: none;
	-moz-transition: color .1s ease-in-out;
	-o-transition: color .1s ease-in-out;
	-webkit-transition: color .1s ease-in-out;
	transition: color .1s ease-in-out;
}
a:hover { color: #666; text-decoration: none; }
img {
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
}

/** @TODO */
.loader {
	background: url(../images/loader.gif) no-repeat;
	color: #fff;
	display: inline-block;
	line-height: 23px;
	padding-left: 28px;
	white-space: nowrap;
}
.loader.green { background: url(../images/loader-green.gif) no-repeat; }
#action-loader {
	background-position: center center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 0;
	width: 100%;
	z-index: 1000;
}


/**
 * General Styles & Helpers
 */
figure { margin: 0; }
.hide, .no-display { display: none; }
.text-hide { display: block; text-indent: 100%; white-space: nowrap; overflow: hidden; }
.f-left, .fLeft { float: left; }
.f-right, .fRight { float: right; }
.t-right, .tRight { text-align: right; }
.t-center, .tCenter { text-align: center; }
ul.list-inline { margin: 0; }
ul.list-inline li { display: inline; }
ul.list-block { float: left; margin: 0; width: 100%; }
ul.list-block li { display: block; float: left; }
.separator { font-size: 14px; margin: 0 8px 0 11px; }
/** Icons */
.icon {
    background: transparent url("../images/sprite.png") no-repeat -3px -4px;
    display: inline-block;
    height: 18px;
    width: 18px;
}
.icon.twitter,
.icon.facebook { height: 30px; width: 30px; }
.icon.twitter { background-position: -100px -250px; }
.icon.facebook { background-position: -150px -250px; }
.icon.location { background-position: -3px -4px; }
.icon.globe { background-position: -3px -49px; }
.icon.person,
.icon.drawer,
.icon.cog { height: 20px; width: 20px; }
.icon.person { background-position: -50px -249px; }
.icon.drawer { background-position: -50px -287px; }
.icon.cog { background-position: -50px -328px; }

/** Buttons & form defaults */
a.btn,
button,
button.btn {
	background: transparent;
	border: 0;
	cursor: pointer;
	line-height: 1;
	margin: 0;
	padding: 0;
}
button[disable="disable"],
button.btn[disable="disable"] { opacity: .6; }
a.btn > span,
button > span,
button.btn > span {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0,0,0,.4);
	color: #fff;
    cursor: pointer;
    display: block;
    font: 14px/1.2 "Sanchez", serif;
	padding: 10px 14px;
    text-align: center;
    text-transform: uppercase;
}
a.btn.wider > span,
button.wider > span,
button.btn.wider > span { padding: 8px 16px; }
a.btn:active > span,
button:active > span,
button.btn:active > span { position: relative; top: 1px; /*border-bottom-color: rgba(0,0,0,.1);*/ }
a.btn-orange > span,
button.btn-orange > span {
    background: #ff8b35; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff8b35 0%, #f0751a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8b35), color-stop(100%,#f0751a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff8b35 0%,#f0751a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff8b35 0%,#f0751a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff8b35 0%,#f0751a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff8b35 0%,#f0751a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8b35', endColorstr='#f0751a',GradientType=0 ); /* IE6-9 */
}
a.btn-blue > span,
button.btn-blue > span {
    background: #87d6da; /* Old browsers */
    background: -moz-linear-gradient(top,  #87d6da 0%, #6fafb3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87d6da), color-stop(100%,#6fafb3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #87d6da 0%,#6fafb3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #87d6da 0%,#6fafb3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #87d6da 0%,#6fafb3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #87d6da 0%,#6fafb3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87d6da', endColorstr='#6fafb3',GradientType=0 ); /* IE6-9 */
}
a.btn-blue:hover > span,
button.btn-blue:hover > span { background: #6fafb3; }
a.btn-green > span,
button.btn-green > span {
    background: #87d6da; /* Old browsers */
    background: -moz-linear-gradient(top,  #8b9438 0%, #6b722b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b9438), color-stop(100%,#6b722b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8b9438 0%,#6b722b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8b9438 0%,#6b722b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8b9438 0%,#6b722b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8b9438 0%,#6b722b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b9438', endColorstr='#6b722b',GradientType=0 ); /* IE6-9 */
}
a.btn-green:hover > span,
button.btn-green:hover > span { background: #6b722b; }
a.btn-grey > span,
button.btn-grey > span {
	background-color: red;
	border: 2px solid #a5a5a5;
	border-top: 2px solid #e5e5e5;
}
.btn.oversized > span { padding: 10px 15px; }
.btn.icon { height: auto; display: block; }
.btn.icon > span > span {
    background: url("../images/sprite.png") no-repeat -4px -99px;
    padding-left: 30px;
}
.btn.icon.contact > span > span { background-position: -4px -99px; }
.btn.icon.follow > span > span { background-position: -4px -99px; }

/** Form defaults */
form ul.fieldset { list-style: none; margin-left: 0; }
form ul.fieldset > li { position: relative; margin-bottom: 20px; }
form ul.fieldset > li label {
	color: #929292;
	display: inline-block;
    font-size: 14px;
	font-style: italic;
    position: absolute;
    top: 15px;
    z-index: 100;
}
form ul.fieldset > li label + div {
	display: inline-block;
	position: relative;
	text-align: left;
	/*width: 270px;*/
}
form .buttons-set input,
form ul.fieldset > li input,
form ul.fieldset > li textarea {
    background: #ebebeb;
	border: 1px solid #ebebeb;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	color: #343434;
	font-size: 14px;
	margin: 0;
	padding: 6px 10px;
	width: 250px;
}
form .buttons-set input:focus,
form ul.fieldset > li input:focus,
form ul.fieldset > li textarea:focus { border-color: #cbcbcb; }


/** @TODO */
form ul.fieldset > li input[type="checkbox"],
form ul.fieldset > li input[type="radio"] {
	margin-right: 10px;
	width: auto;
}
form ul.fieldset > li ul.errors { width: 268px; }
form ul.fieldset > li ul.errors > li {
	background: #CC7254;
	color: #fff;
	margin-top: 3px;
	text-align: left;
	padding: 5px;
}
form ul.fieldset > li figure { margin: 0 0 10px; }
form ul.fieldset > li > div label {
	color: #7dc6ca;
	line-height: 20px;
	text-transform: capitalize;
	text-align: left;
	width: 250px;
}
form ul.fieldset > li > div label.error {
	font-size: 12px;
	letter-spacing: 0;
	line-height: 1;
	position: absolute;
	left: 280px;
	white-space: nowrap;
}
form ul.fieldset > li > div label > input {
	margin-right: 10px;
	width: auto;
}
/** @end TODO */

.buttons-set { overflow: hidden; }
.buttons-set .btn { float: left; }


/** Global Messages @TODO */
.alert {
	background: #ccc;
	color: #fff;
	clear: both;
	margin: 10px auto;
	padding: 10px;
	width: 500px;
}
.alert a {
	color: #fff;
	text-decoration: underline;
}
.alert > a.close {
	display: none;
	float: right;
}
.alert.alert-success { background: #6C722C; }
.alert.alert-error { background: #80883b; }
.alert.alert-info { background: #FAC13D; }
.inner-content-wrapper div.alert {
	margin-bottom: 30px;
	width: 645px;
}

/** Overlay */
.fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;
}
.fade.in { opacity: 1; }
.modal-backdrop {
	background: #fff;
	margin: 0 !important;
	top: 0 !important;
	opacity: .6;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 500;
}
.modal-backdrop.fade { opacity: 0; filter: alpha(opacity=0); }
.modal-backdrop.fade.in { opacity: .6; filter: alpha(opacity=60); }
.modal {
	background: #fff;
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.4);
    box-shadow: 0 3px 10px rgba(0,0,0,.4);
    left: 50%;
	margin-left: -200px;
	max-height: 460px;
	width: 430px;
	overflow: hidden;
	padding: 25px;
	position: fixed;
	z-index: 501;
}
.modal.fade {
	-webkit-transition: opacity .3s linear, top .3s ease-out;
	-moz-transition: opacity .3s linear, top .3s ease-out;
	-ms-transition: opacity .3s linear, top .3s ease-out;
	-o-transition: opacity .3s linear, top .3s ease-out;
	transition: opacity .3s linear, top .3s ease-out;
	top: -15%;
}
.modal.fade.in { top: 10%; }
.modal a.close {
    background: #fff url("../images/sprite.png") no-repeat -180px -40px;
    display: block;
    height: 40px;
    overflow: hidden;
	position: absolute;
	top: 5px;
	right: 5px;
    text-indent: 110%;
    width: 40px;
    white-space: nowrap;
}
/** Body and content */
.modal h3 { color: #343434; font-size: 18px; margin-bottom: 20px; }
.modal p.note { color: #6d6d6d; font-size: 14px; margin-bottom: 20px; }
.modal .modal-body form { margin-bottom: 0; }
.modal .modal-body ul.fieldset li { margin-bottom: 10px; }
.modal .modal-body form textarea { height: 100px; width: 410px; }
.modal .modal-body .buttons-set { text-align: left; }
.modal .modal-body .buttons-set .btn { float: none; }
.modal .modal-body .buttons-set .btn + .loader { margin-left: 10px; }



/**
	Main Layout/Structure
*/
.main-content { }
.main-container { padding: 40px 0; }
.container { margin: 0 auto; width: 960px; }
/** Sticky Footer */
html, body { height: 100%; }
body > div.wrapper { min-height: 100%; }
body > div.wrapper > .page { overflow: auto; padding-bottom: 250px; }
body.ie8 > div.wrapper,
body.ie9 > div.wrapper { display: table; height: 100%; }
.footer-container {
    clear: both;
    margin-top: -251px; /** add 1 b/c of border */
    position: relative;
}
footer { height: 200px; padding: 25px 0; }
/** Two columns */
body.two-column .main-container { background: #ecf0df url(../images/bg-noise.jpg) repeat; }
.main-container .two-column { margin: 0 auto; width: 960px; }
.two-column .column-left {
    float: left;
    margin: 20px 0 25px 25px;
    position: relative;
    width: 220px;
}
.two-column .main-content {
    float: right;
    margin: 20px 25px 25px 0;
    min-height: 300px;
    position: relative;
    width: 665px;
}
/** Left column buttons */
#column-left .buttons-set .btn {
    clear: both;
    margin-bottom: 10px;
    width: 100%;
}
#column-left .buttons-set .btn > span { }

/**
 * Global header
 */
.header-container {
    -moz-box-shadow: 0px 1px 4px #ccc;
    -webkit-box-shadow: 0px 1px 4px #ccc;
    box-shadow: 0px 1px 4px #ccc;
    position: relative;
}
.header-container .utility {
    background: #7dc6ca url("../images/utility-blue-noise.jpg") repeat;
    /*
    background: #7dc6cb;
    background: -moz-linear-gradient(top,  #7dc6cb 0%, #83cfd3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7dc6cb), color-stop(100%,#83cfd3));
    background: -webkit-linear-gradient(top,  #7dc6cb 0%,#83cfd3 100%);
    background: -o-linear-gradient(top,  #7dc6cb 0%,#83cfd3 100%);
    background: -ms-linear-gradient(top,  #7dc6cb 0%,#83cfd3 100%);
    background: linear-gradient(to bottom,  #7dc6cb 0%,#83cfd3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dc6cb', endColorstr='#83cfd3',GradientType=0 );
    */

    border-bottom: 1px solid #75bbbf;
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.3);
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.3);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,.3);

    padding: 8px 0;
}
.header-container .utility ul { }
.header-container .utility ul li,
.header-container .utility ul li a { color: #fff; font-size: 12px; }
/** Header & Nav */
header { height: 110px; }
header h1 { float: left; }
header h1 img { border: 0; margin-top: 18px; padding: 0; }
header nav { float: right; margin-top: 45px; }
header nav ul { float: right; }
header nav ul li {
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 25px;
}

/**
 * Footer
 */
.footer-container {
    background: #747a2f url("../images/footer-green-noise.jpg") repeat;
    /*
    background: #747a2f;
    background: -moz-linear-gradient(top,  #747a2f 0%, #6d732c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747a2f), color-stop(100%,#6d732c));
    background: -webkit-linear-gradient(top,  #747a2f 0%,#6d732c 100%);
    background: -o-linear-gradient(top,  #747a2f 0%,#6d732c 100%);
    background: -ms-linear-gradient(top,  #747a2f 0%,#6d732c 100%);
    background: linear-gradient(to bottom,  #747a2f 0%,#6d732c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747a2f', endColorstr='#6d732c',GradientType=0 );
    */

    border-top: 1px solid #747a2f;
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.3);
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.3);
    box-shadow: inset 0 1px 1px rgba(255,255,255,.3);
}
footer { color: #fff; font-size: 14px; }
footer .container { position: relative; }
footer a, footer h3 { color: #fff; }
footer a:hover { color: #ddd; }
footer .column {
    float: left;
    margin-right: 15px;
    position: relative;
    width: 150px;
    z-index: 12;
}
footer .column .social li { margin-right: 5px; }
footer .column.newsletter { width: 275px; }
footer .column.newsletter form input {
    background: #ebebeb;
    border: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 8px 10px;
    width: 240px;
}
footer .column h3 { font-size: 1em; margin-bottom: 15px; text-transform: uppercase; }
footer .column ul li { margin-bottom: 10px; }
footer .copyright {
    clear: both;
    font-size: 11px;
    margin-top: 45px;
    text-transform: uppercase;
}
footer .copyright p { display: inline; }
footer .copyright ul { display: inline; margin-left: 15px; }
footer .copyright ul li .separator { font-size: 12px; margin: 0 5px 0 8px; }
footer .watermark {
    background: url(../images/watermark.png) no-repeat 0 0;
    height: 225px;
    width: 300px;
    position: absolute;
    right: 0;
    bottom: -30px;
    z-index: 10;
}


/**
 * Account/Profile Pages
 */
.profile-layout { background: #fff; position: relative; }
.profile-layout .main-content { margin: 0; min-height: 400px; padding-bottom: 50px; width: 100%; }
.profile-layout .main-content .inner-content-wrapper {
    float: right;
    margin: 0 20px 20px 0;
    position: relative;
    width: 670px;
}
/** Column Left */
.profile-layout .column-left { margin: 30px 0 20px 20px; position: absolute; z-index: 100; }
.profile-layout .column-left figure { margin: 0 0 20px; }
.profile-layout .column-left figure img {
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
    width: 220px;
}
.profile-layout .column-left .social-links { margin: 25px 0; }
.profile-layout .column-left .social-links li { margin-bottom: 20px;}
.profile-layout .column-left .utility-navigation { }
.profile-layout .column-left .utility-navigation li { border-bottom: 1px solid #bcbcbc; }
.profile-layout .column-left .utility-navigation li:first-child { border-top: 1px solid #bcbcbc; }
.profile-layout .column-left .utility-navigation li a {
    color: #222;
    display: block;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 5px;

    -moz-transition: background-color .1s ease-in-out, color .1s ease-in-out;
    -webkit-transition: background-color .1s ease-in-out, color .1s ease-in-out;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;
}
.profile-layout .column-left .utility-navigation li a:hover,
.profile-layout .column-left .utility-navigation li.active a { background-color: #bcbcbc; color: #fff; }
.profile-layout .column-left .utility-navigation li a .icon { margin: 0 10px 0 5px; vertical-align: top; }
.profile-layout .column-left .utility-navigation li a:hover .icon.person,
.profile-layout .column-left .utility-navigation li.active a .icon.person { background-position: -5px -249px; }
.profile-layout .column-left .utility-navigation li a:hover .icon.drawer,
.profile-layout .column-left .utility-navigation li.active a .icon.drawer { background-position: -4px -287px; }
.profile-layout .column-left .utility-navigation li a:hover .icon.cog,
.profile-layout .column-left .utility-navigation li.active a .icon.cog { background-position: -5px -328px; }
/** Main Content */
.profile-layout .main-content .top {
    background: #7dc6ca url("../images/blue-noise.jpg") repeat;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 1px solid #75bbbf;
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.3);
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.3);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,.3);
    margin-bottom: 30px;
    min-height: 60px;
    padding: 20px 0;
    position: relative;
    top: -5px;
    width: 960px;
}
.profile-layout .main-content .top .pushed { float: right; padding-right: 20px; width: 670px; }
.profile-layout .main-content .top h1 { color: #fff; font-size: 30px; }
.profile-layout .main-content .top h1 a {
    font-size: 14px;
    color: #58585A;
    text-decoration: underline;
}
.profile-layout .main-content .top ul { }
.profile-layout .main-content .top ul li { line-height: 18px; margin-right: 7px;  }
.profile-layout .main-content .top ul li span.icon { vertical-align: bottom; }
.profile-layout .main-content .top ul li,
.profile-layout .main-content .top ul li a { color: #fff; }
/** Nav menu */
.main-content nav.styled {
    border-bottom: 1px solid #bcbcbc;
    margin-bottom: 35px;
    float: left;
    width: 100%;
}
.main-content nav.styled ul { position: relative; top: 1px; }
.main-content nav.styled ul li { margin-right: 5px; }
.main-content nav.styled ul li a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #bebebe;
    border-bottom: 1px solid #bebebe;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: block;
    line-height: 1;
    margin-top: 3px;
    padding: 10px 35px;
}
.main-content nav.styled ul li a:hover { }
.main-content nav.styled ul li.is-active { }
.main-content nav.styled ul li.is-active a {
    background-color: #fff;
    border: 1px solid #bebebe;
    border-bottom-color: #fff;
    color: #022222;
    margin-top: 0;
    padding: 13px 35px 10px;
}
/** General Selectors */
.profile-layout .main-content .content { clear: both; }
.profile-layout .main-content .content .buttons-set  { margin: 35px 0 0; }
.profile-layout .main-content .content .buttons-set .btn > span { font-size: 12px; }
.profile-layout .main-content .content article,
.profile-layout .main-content .content .buttons-set + h2 { margin-top: 35px; }
.profile-layout .main-content h2 {
    border-bottom: 1px solid #bcbcbc;
    clear: both;
    color: #343434;
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

/** @todo */
.main-content .blocked-content {
    color: #848484;
    clear: both;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px 0;
}
.main-content .blocked-content > h4 { }
.main-content .blocked-content > p { margin-bottom: 20px; }














































/** Map Modal */
#mapModal {
	margin-left: -200px;
	width: 400px;
}
#mapModal .buttons-set .btn span {
	background: #74D2D1;
	border: 1px solid #33a3a9;
	border-bottom-width: 2px;
	border-top: 2px solid #9de5e9;
}
#mapModal .buttons-set a.cancel { display: none; }
/** Contact Modal */
#contactModal {
	margin-left: -190px;
	width: 380px;
}
#contactSuccessModal { min-height: 0; }
#contactSuccessModal .modal-header { display: none; }
#contactSuccessModal .modal-body {
	margin: 20px 0;
	text-align: center;
	width: 340px;
}
#contactSuccessModal .modal-body h3 { font-size: 26px; }
#contactSuccessModal .modal-body .buttons-set {
	margin-top: 30px;
	text-align: center;
}
/** Involve Me Modal */
#involveMeModal .buttons-set { margin-top: 25px; }
/** Shared Crop Yield Modals */
.crops-modal form { width: 300px; }
.crops-modal .buttons-set { margin-top: 30px; }
.crops-modal .mark-for-sale { color: #fff; text-align: left; width: 160px; }
.crops-modal .mark-for-sale a { text-decoration: underline; }

/**
	Home page
*/
body.elm-index-index { overflow: hidden; }
body.elm-index-index div.main-container { padding-top: 0; }
/** Map Canvas */
div.map-container > .top,
div.map-container > .bottom {
	background: transparent;
	height: 1px;
	position: absolute;
	width: 100%;
	z-index: 100;
}
div.map-container > .top {
	top: 0;
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
div.map-container > .bottom {
	bottom: -1px;
	-moz-box-shadow: 0 -2px 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 -2px 5px rgba(0,0,0,.2);
	box-shadow: 0 -2px 5px rgba(0,0,0,.2);
}
div#mapCanvas {
	/*height: 450px;
	margin-bottom: 50px;*/
	position: absolute;
	/*top: 100px;*/
	bottom: 0;
	left: 0;
	right: 0;
	height: 75%;
}
div.mapMarker > div {
	background: #818940;
	background: rgba(129,137,64,.87);
	/*border: 1px solid #595d3b;*/
	color: #414710;
	line-height: 1.2;
	padding: 25px;
	/*height: 225px;*/
	width: 470px;
}
div.mapMarker.small > div { width: 320px; }
div.mapMarker > div:after {
	background: url('../images/infobox-arrow.png') no-repeat;
	/*background: #818940;
	background: rgba(129,137,64,.8);*/
	content: '\0020';
	display: block;
	height: 45px;
	position: absolute;
	bottom: -45px;
	left: 40px;
	width: 50px;
}
div.mapMarker > div h3 {
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.6);
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.6);
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
}
div.mapMarker > div h3 > span { color: #7acfd3; }
div.mapMarker > div div.content { margin-top: 20px; }
div.mapMarker > div div.content p {
	font-size: 16px;
	margin-bottom: 10px;
}
div.mapMarker > div div.content input[type="text"] {
	border: 1px solid #d6d6d6;
	font-size: 16px;
	float: left;
	padding: 10px 6px;
	width: 410px;
}
div.mapMarker > div div.content p.buttons-set { text-align: center; }
div.mapMarker > div div.content button.btn { margin: 0; float: none; }
div.mapMarker > div div.content button.search {
	background: url('../images/sprites.png') no-repeat -345px -3px;
	float: left;
	margin-left: 10px;
	height: 50px;
	width: 50px;
}
div.mapMarker.plot-info > div div.content p.buttons-set { text-align: left; }
div.mapMarker.plot-info > div div.content p.buttons-set a {
	color: #fff;
	font-size: 13px;
	text-decoration: underline;
	text-transform: lowercase;
}

/** How it works */
#howItWorks {
	background: #64c4c8;
	overflow: hidden;
	padding: 25px 0 25px 55px;
	position: absolute;
	right: -960px;
	top: 200px;
	height: 270px;
	z-index: 100;
	width: 940px;

	-moz-transition: right .3s ease-in-out;
	-o-transition: right .3s ease-in-out;
	-webkit-transition: right .3s ease-in-out;
	transition: right .3s ease-in-out;
}
#howItWorks.active { right: 0; }
#howItWorks a[href="#how-it-works"] {
	background: url('../images/sprites.png') no-repeat -192px -425px;
	height: 75px;
	position: absolute;
	left: 0;
	top: 115px;
	width: 40px;
}
#howItWorks.active a[href="#how-it-works"] {
	background-position: -230px -425px;
}
#howItWorks h4 {
	color: #fff;
	font: bold 34px/1 'Varela', Helvetica, Arial, sans-serif;
	letter-spacing: -2px;
}
#howItWorks ul { margin-top: 10px; }
#howItWorks ul li {
	color: #fff;
	margin-left: 25px;
	text-align: center;
	width: 145px;
}
#howItWorks ul li:first-child { margin-left: 0; }
#howItWorks ul li h3 {
	background: url(../images/sprites.png) no-repeat;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 135px;
}
#howItWorks ul li.claim-it h3 { background-position: -180px -130px; }
#howItWorks ul li.track-it h3 { background-position: -337px -130px; }
#howItWorks ul li.learn-it h3 { background-position: -492px -130px; }
#howItWorks ul li.share-it h3 { background-position: -650px -130px; }
#howItWorks ul li.build-it h3 { background-position: -807px -130px; }
#howItWorks ul li p { font-size: 13px; }


/**
	Login/Create/Password Reset
*/
.account-form { text-align: center; }
.account-form h1 { font-weight: bold;  margin-bottom: 30px; }
.account-form form { margin: 30px auto; width: 470px; }
.account-form form .fieldset label { width: 170px;}
.account-form form .fieldset textarea { height: 150px; }
.account-form form .buttons-set { float: right; margin-right: 7px; }
.account-form form .buttons-set button { float: none; margin-left: 15px;  }
body.elm-profile-login .account-form form { width: 400px; }
body.elm-profile-login .account-form form .fieldset label { width: 100px; }
body.elm-profile-forgot-password .account-form form { width: 380px; }
body.elm-profile-forgot-password .account-form form .fieldset label { width: 75px; }
.account-confirmation p { margin: 0 auto 20px; width: 410px; }

















/** Listings: plots & people */
ul.list-block li h3 { font-size: 16px; margin-bottom: 5px; }
ul.list-block li h3 a { color: #8d9548; }
ul.list-block li h3 a:hover { text-decoration: underline; }
ul.list-block li p.role { font-size: 14px; }
ul.list-block li p.role b { color: #000; font-weight: bold; }
ul.list-block li p.role i { color: #98989A; font-weight: bold; }
ul.list-block.list  { }
ul.list-block.list li { margin-right: 10px; width: 150px; }
ul.list-block.list li:last-child { margin-right: 0; }
ul.list-block.list li figure { margin: 0 0 8px; }
/** Detailed Listings */
ul.list-block.details li { margin-bottom: 10px; width: 100%; }
ul.list-block.details li figure {
	float: left;
	margin-right: 25px;
	width: 160px;
}
ul.list-block.details li div.details {
	float: left;
	margin-left: 5px;
	padding: 8px 0;
	width: 400px;
}
ul.list-block.details li div.details p.role { margin-bottom: 15px; }
ul.list-block.details li div.details p.buttons-set { margin-top: 15px; }
ul.list-block.details li div.details p.buttons-set button { width: auto; }
/** Data Lists: crops */
table.data-table { }
table.data-table th,
table.data-table td {
	color: #010101;
	font-size: 13px;
	padding: 5px 8px;
	text-align: left;
	white-space: nowrap;
}
table.data-table th {
	color: #a8a9a9;
	font-size: 14px;
	padding: 7px 3px;
	text-transform: capitalize;
}
table.data-table td { }
table.data-table tr.alt td { background: #e5f1f2; }
table.data-table td a { color: #010101; text-decoration: underline; }

/**
	My Account forms: settings, info, create
*/
body.elm-profile-settings .account-form form,
body.elm-profile-info .account-form form { text-align: left; }
body.elm-plot-create .account-form form .buttons-set,
body.elm-profile-settings .account-form form .buttons-set,
body.elm-profile-info .account-form form .buttons-set {
	border-top: 4px double #CCC;
	padding-top: 10px;
	width: 275px;
}
body.elm-plot-create .account-form form .buttons-set button,
body.elm-profile-settings .account-form form .buttons-set button,
body.elm-profile-info .account-form form .buttons-set button { float: right; }

/**
	Photos
*/
.blocked-content.photo-timeline {
	height: 100px;
	padding: 0;
	position: relative;
	width: 640px;
}
.photo-timeline .container {
	margin: 0 35px;
	overflow: hidden;
}
.photo-timeline ul.list {
	position: relative;
	min-width: 580px;
}
.photo-timeline ul.list li {
	margin-right: 8px;
	position: relative;
	width: auto;
}
.photo-timeline ul.list li img {
	border: 0;
	height: 87px;
}
.photo-timeline ul.list li a.remove {
	background: #59601C;
	border-radius: 10px;
	color: #fff;
	line-height: 12px;
	font-size: 11px;
	text-transform: uppercase;
	padding: 3px 6px;
	position: absolute;
	right: 0;
	top: 0;
}
.photo-timeline a.arrow {
	background: transparent url('../images/sprites.png') no-repeat -1px -459px;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	height: 40px;
	width: 30px;
}
.photo-timeline a.arrow.prev { left: 0; }
.photo-timeline a.arrow.next { background-position: -55px -459px; right: 0; }
/*.photo-timeline ul li a { position: absolute; bottom: 0; left: 0; }*/
.photo-main figure img { width: 630px; }
#photosForm { margin: 30px 0; }
#photosForm .fieldset { border-top: 4px double #80883b; padding-top: 20px; }
#photosForm .fieldset:first-child { border: 0; padding: 0; }

/**
 	People
*/
.get-involved { clear: both; }

/**
	Crops
*/
#cropsForm form ul.fieldset li select#crop_id + label { width: 100px; }
#cropsForm form ul.fieldset li input#name { width: 175px; }
#cropsForm form ul.fieldset li input#coverage {
	margin-right: 10px;
	width: 100px;
}
#cropsForm form ul.fieldset li input#date_planted { width: 100px; }
#cropsForm form ul.fieldset li div.multi-control { width: 270px; }

.crops-modal .modal-body form ul.fieldset li > div { width: 100%; }
.crops-modal .modal-body form ul.fieldset li > div input { width: 95%; }
.crops-modal .modal-body form input[type="text"].small { width: 100px }
.crops-modal .modal-body form ul.fieldset li > div input + select { margin-left: 15px; }
.crops-modal .modal-body form ul.fieldset li.inline { float: left; width: 46%; }

.crops .container { border: 1px solid #ccc; padding: 0; }
table.data-table.crops { border: 1px solid white; }
table.data-table.crops th,
table.data-table.crops td {
	background-color: #EFEFEF;
	border-left: 1px solid white;
	border-top: 1px solid white;
	color: #ACACAC;
	font-size: 12px;
	padding: 9px 4px;
	text-align: center;
}
table.data-table.crops tr.alt td { background-color: #EFEFEF; }
table.data-table.crops th:first-child,
table.data-table.crops td:first-child { border-left: 0; }
table.data-table.crops th {
	background-color: #7B6B59; /*#ABACAD;*/
	/*border-bottom: 4px solid #A3A4A5;*/
	border-top: 0;
	color: white;
}
table.data-table.crops td {  }
table.data-table.crops tr:first-child td { border-top: 0; }
table.data-table.crops td.yields { display: none; padding: 20px; }
table.data-table.crops td.yields table { border: 1px solid #ccc; width: 100%; }
table.data-table.crops td.yields table th {
	background-color: #E6E6E6;
	border: 0;
	border-bottom: 1px inset white;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.1) inset;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.1) inset;
	box-shadow: 0px 1px 3px rgba(0,0,0,.1) inset;
	color: #ACACAC;
}
table.data-table.crops td.yields table td ul li {
	line-height: 16px;
	padding: 5px;
	position: relative;
	text-align: left;
}
table.data-table.crops td.yields table td ul li:hover { background-color: #e6e6e6; }
table.data-table.crops td.yields table td ul li:first-child { margin-top: 0; }
table.data-table.crops td.yields table td ul li p { line-height: 16px; }
table.data-table.crops td.yields table td ul li > div.actions {
	background-color: #e6e6e6;
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
	display: none;
	padding: 8px;
	position: absolute;
	top: 25px;
	right: 0;
	text-align: right;
	z-index: 100;
}
table.data-table.crops td.yields table td ul li:hover > div { display: block; }
table.data-table.crops td.yields table td ul li > div.actions a { display: block; margin-top: 8px; text-decoration: none; }
table.data-table.crops td.yields table td ul li > div.actions a:first-child { margin-top: 0; }
table.data-table.crops td.yields table td ul li > div.actions a:hover { text-decoration: underline; }
table.data-table.crops td.yields table td ul li .icon { float: right; vertical-align: middle; }
table.data-table.crops td.yields table td ul li ul { margin-left: 5px; }
table.data-table.crops td.yields table td ul li ul li { line-height: 1; padding: 2px 5px; }
/** Success message */
.modal.success-message { min-height: 100px; width: 250px; }
.modal.success-message .modal-body { text-align: center; }
.modal.success-message .modal-body .buttons-set { margin-top: 20px; }

/** Crops Form */
#cropsAddForm { margin-top: 20px; }
#cropsAddForm .buttons-set .btn + .btn { margin-left: 10px; }

/**
	Communication Hub
*/
body.elm-communication .main-content h3,
#columnLeft .left-filters h3 { margin-bottom: 15px; }
#columnLeft .left-filters ul li { margin-bottom: 5px; }
table.communication-messages { width: 100%; }
table.communication-messages td {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	empty-cells: show;
	font-size: 12px;
	padding: 6px 10px;
	vertical-align: middle;
}
table.communication-messages tr:first-child td { border-top: 1px solid #ccc; }
table.communication-messages tr.new td { background-color: #EBEBEB; }
table.communication-messages td.actions { cursor: default; width: 40px; }
table.communication-messages td.from { width: 140px; }
table.communication-messages td.subject { }
table.communication-messages td.date { text-align: right; padding-right: 10px; width: 75px; }

table.data-table.crops td.yields .icon,
body.elm-communication .icon {
	background-image: url(../images/app-icons.png);
	cursor: pointer;
	display: inline-block;
	height: 18px;
	overflow: hidden;
	text-indent: 110%;
	white-space: nowrap;
	width: 18px;
}
body.elm-communication .icon + .icon { margin-left: 3px; }
body.elm-communication .icon.delete { background-position: -288px -2px; }
body.elm-communication .icon.archive { background-position: 0 -324px; }
body.elm-communication .icon.reply { background-position: -415px -290px; }
body.elm-communication .icon.read { background-position: -416px -228px; }
table.data-table.crops td.yields .icon.edit { background-position: -222px -2px; }

.message-contents { position: relative; }
.message-contents p.actions { position: absolute; right: 0; top: 10px; }
.message-contents h4 { font-size: 15px; margin-bottom: 10px;}
.message-contents .body { margin: 20px 0; }
.message-form .alert { float: left; }
.message-form textarea { min-height: 100px; padding: 5px; width: 100%; }


/**
	CMS Pages
*/
.cms-page {
	text-align: justify;
	width: 600px;
}
.cms-page h1 {
	margin-bottom: 20px;
	text-align: center;
}
.cms-page p {
	line-height: 1.4;
	margin-bottom: 20px;
}
.cms-page p em,
.cms-page p i { font-style: italic; }
.cms-page p strong,
.cms-page p b { font-weight: bold; }

/** community page */
#communityNavigation ul { text-align: center; }
#communityNavigation ul li {
	display: inline-block;
	float: none;
	margin-left: -4px;
}
#communityNavigation ul li:first-child { margin-left: 0; }
.community ul.list li {
	margin-left: 20px;
	margin-bottom: 30px;
	width: 215px;
}
.community ul.list li:first-child { margin-left: 0; }
.community ul.list li h3 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
.community ul.list li p.role {
	text-align: center;
	text-transform: capitalize;
}
/** marketplace */
.community .marketplace-list figure { position: relative; }
.community .marketplace-list figure:hover > div.mask { display: block;}
.community .marketplace-list figure > div.mask {
	background-color: rgba(255,255,255,.7);
	border: 1px solid rgba(255,255,255,.7);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.community .marketplace-list figure > div.mask > p { font-size: 14px; line-height: 24px; margin: 50px 0 0 20px; }
.community .marketplace-list figure > div.mask > p input { font-size: 14px; padding: 5px; width: 30px; }
.community .marketplace-list figure > div.mask > p input.error { border-left: 2px solid red; }
.community .marketplace-list figure > div.mask > p + p { margin-top: 0; }
.community .marketplace-list figure > div.mask > .buy { position: absolute; bottom: 20px; right: 20px; }
.community .marketplace-list figure > div.mask > .buy[disabled="disabled"] { opacity: .5; }
.community .marketplace-list figure > div.mask > span.total {
	font-size: 18px;
	position: absolute;
	bottom: 25px;
	left: 20px;
}

/** no route */
.no-route { text-align: center; }


/** Print Styles */
@media print {
	html, body { height: auto; }
	/*#mapCanvas { height: 300px; }*/
}
