
/*		Main
***************************************************************/
body {
	color: #222;
	cursor: default;
	font: normal 100%/1.5 /*"Open Sans", */Verdana, Arial, sans-serif;
	overflow-x: hidden;
	width: 100%;
}
h1 { }
h2 {
	text-shadow: 1px 1px #fff;
	-moz-text-shadow: 1px 1px #fff;
	-o-text-shadow: 1px 1px #fff;
	-webkit-text-shadow: 1px 1px #fff;
}
a {
	color: #5A5A5C;
	text-decoration: none;
	transition: color, .2s, ease-in;
	-moz-transition: color, .2s, ease-in;
	-o-transition: color, .2s, ease-in;
	-webkit-transition: color, .2s, ease-in;
}


/*		Sections and Titles Layout 	****************************************/
div.container { }
div.container > header,
div.container > footer,
div.container > div { margin: 0 auto; width: 1000px; }
div.container > footer { padding: 30px 0; text-align: right; }

/* Header */
header { padding: 10px 0; }
header h1 {
	background: url('../images/logo-sm.png') no-repeat -25px 0;
	float: left;
	font-weight: bold;
	font-size: 18px;
	height: 80px;
	line-height: 95px;
	text-indent: 65px;
	text-transform: uppercase;
	/*white-space: nowrap;*/
}
header h1 a { color: #5A5A5C; }
header ul { float: right; margin-top: 40px; }
header ul li {
	font-weight: bold;
	display: block;
	float: left;
	line-height: 30px;
	margin-left: 20px;
	text-transform: uppercase;
}
header ul li a { color: #5A5A5C; }
header ul li a.social {
	background: url('../images/welcome/sprites.png') no-repeat -10px -10px;
	display: block;
	height: 30px;
	overflow: hidden;
	text-indent: 100%;
	width: 30px;
	white-space: nowrap;
}
header ul li a[title="Twitter"] { background-position: -50px -10px; width: 35px; }

/** Hero */
div.container.hero {
	background: #9BD7E1 url('../images/welcome/roads.jpg') no-repeat left top;
	padding: 30px 0;
	height: 270px;
}
div.container.hero h3 {
	background: url('../images/welcome/heading.png') no-repeat;
	height: 250px;
	overflow: hidden;
	position: absolute;
	text-indent: 100%;
	width: 700px;
	white-space: nowrap;
}
/* alert */
.alert-success {
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	width: 600px;
}
.alert-success a.close { display: none; }
.alert-success p { color: #D1DFA1; }
/*	Newsletter Signup Form 	*/
div.container.hero p.thank-you,
form[role="newsletter"] {
	background: #fff;
	border: 2px solid #B0CA71;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #808080;
	float: right;
	padding: 10px;
	width: 230px;
}
form[role="newsletter"] p strong { font-weight: bold; }
div.container.hero p.thank-you { font-size: 14px; }
form[role="newsletter"] p {
	color: #808080;
	font-size: 14px;
	line-height: 1.4;
	margin-bottom: 10px;
}
form[role="newsletter"] ul li {
	font-size: 12px;
	margin-bottom: 10px;
	position: relative;
	text-align: left;
}
form[role="newsletter"] ul li span { color: #E65C00; font-style: italic; }
form[role="newsletter"] ul li label { display: none; }
form[role="newsletter"] ul li input {
	background: #D1DFA1;
	border: 0;
	color: #fff;
	font-size: 11px;
	font-weight: normal;
	padding: 8px 4px;
	width: 220px;
}
form[role="newsletter"] ul li input.invalid { background: #409AA2; }
form[role="newsletter"] ul + p { clear: both; }
form[role="newsletter"] input[type="submit"] {
	background: #D1DFA1;
	border: 0;
	border-bottom: 1px solid #696;
	border-right: 1px solid #696;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;

	color: #fff;
	cursor: pointer;
	font: normal 14px/1.3 "Book Antique", Georgia, "Times New Roman", serif;
	margin: 0;
	padding: 4px 8px;
}
form[role="newsletter"] input[type="submit"]:hover { background: rgba(230,92,0,.8); }
form[role="newsletter"] input[type="submit"]:active { border: 0; border-top: 1px solid #b9a894; border-left: 1px solid #b9a894; }


/** Roots */
div.container.hero + div.container {
	background: url('../images/welcome/roots.jpg') no-repeat center top;
	height: 100px;
}
div.container.roots {
	background: url('../images/welcome/bg-texture.jpg');
}
div.container.roots > div {
	background: url('../images/welcome/roots-bottom.png') no-repeat center -5px;
	height: 1420px;
	position: relative;
}
div.container.roots > div ol { position: absolute; }
div.container.roots > div ol li {
	position: absolute;
	left: 350px;
	width: 320px;
}
div.container.roots > div ol li.location { top: 200px; }
div.container.roots > div ol li.growth { top: 420px; }
div.container.roots > div ol li.learn { top: 680px; }
div.container.roots > div ol li.share { top: 920px; }
div.container.roots > div ol li.last { top: 1155px; }
div.container.roots > div ol li h3 {
	color: #9ad7e0;
	font-size: 20px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
div.container.roots > div ol li p {
	color: #e7d2af;
	font-size: 16px;
	line-height: 1.2;
}

/** Footer */
div.container > footer p { color: #E7D2AF; text-transform: uppercase; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/*form[role="newsletter"] label { top: 5px; }
	form[role="newsletter"] input[type="email"] { padding-top: 6px; }*/
}

